<%# add navigation links to this file %>
<li><%= link_to "Clientes", clientes_path %></li>
<li><%= link_to "Empresas", empresas_path %></li>
<li><%= link_to "Municipios", municipios_path %></li>
<li><%= link_to "Créditos", about_path %></li>
<li><%= link_to "Contactenos", contact_path %></li>
<li><%= link_to "Ayuda?", help_path %></li>